* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Colors variables
   ========================================================================== */
.pane-search-form {
  position: relative;
}
.pane-search-form #search-block-form .form-item-search-block-form {
  width: 75%;
}
.pane-search-form #search-block-form .form-actions {
  float: left;
  position: absolute;
  width: auto;
  right: 20%;
}
.pane-search-form #search-block-form .form-actions > a {
  float: left;
  padding-right: 10px;
  min-height: 60px;
  display: inline-block;
  margin: -2px 10px 0 0;
  line-height: 60px;
}
@media screen and (max-width: 950px) {
  .pane-search-form #search-block-form .form-actions > a {
    background-color: transparent;
    color: #333;
    text-decoration: underline;
  }
}
@media screen and (max-width: 600px) {
  .pane-search-form #search-block-form .form-actions > a {
    display: none;
  }
}
.pane-search-form #search-block-form .form-actions > a .fieldset-title {
  float: left;
}
@media screen and (max-width: 950px) {
  .pane-search-form #search-block-form .form-actions > a .fieldset-title {
    right: 40px;
  }
}
@media screen and (max-width: 600px) {
  .pane-search-form #search-block-form .form-actions > a .fieldset-title {
    display: none;
  }
}
.pane-search-form #search-block-form .form-actions input[type="submit"] {
  width: 40%;
}
.pane-search-form #search-block-form .form-actions input.extended-search-submit {
  width: 24%;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset {
  width: 75%;
  float: left;
  border: none;
  position: relative;
  top: 0;
  padding: 0;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset legend {
  display: none;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset.collapsed {
  display: none;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset #ting-search-terms-container {
  overflow-y: scroll;
  width: 100%;
  border-style: solid;
  border-color: #e1e1e1;
  border-width: 1px;
  background: #fff;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset #ting-search-terms-container ul {
  max-height: 500px;
  top: 0 !important;
  left: 0 !important;
  margin-bottom: 0;
  margin-right: 0;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset #ting-search-terms-container ul li.search-term {
  border-bottom-style: solid;
  border-bottom-color: #e1e1e1;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  padding-top: 10px;
  list-style: none;
  cursor: pointer;
  padding-left: 15px;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset #ting-search-terms-container ul li.search-term .search-key {
  font-weight: bold;
  margin: 0;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset #ting-search-terms-container ul li.search-term .search-description {
  font-style: italic;
  margin: 0;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset #ting-search-terms-container ul li.search-term:hover {
  background: #ededed;
}
@media screen and (max-width: 600px) {
  .pane-search-form #search-block-form #ting-search-terms-fieldset #ting-search-terms-container ul {
    overflow-y: visible;
  }
}
.pane-search-form #search-block-form #ting-search-terms-fieldset .search-term-ops {
  padding-top: 10px;
  height: 30px;
  border: solid;
  border-width: 1px;
  min-width: 100%;
  max-width: 850px;
  background: #e1e1e1;
  color: #e1e1e1;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset .search-term-ops .search-term-op {
  display: inline;
  padding-right: 5px;
  padding-left: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #4c4c4c;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset .search-terms-more {
  float: right;
  margin-top: -22px;
  font-style: italic;
  padding-right: 14px;
}
.pane-search-form #search-block-form #ting-search-terms-fieldset .search-terms-more a {
  color: #4c4c4c;
}
