@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";

.page-search {
  .pane-search-form #search-block-form {
    .form-actions {
      right: 1px;
      @include media($mobile) {
        width: 70px;
      }
    }
  }
}

.mobile-search-is-open .header-inner section.search {
  @include media($mobile) {
    padding-bottom: 75px;
  }
}
html .pane-search-form fieldset.collapsible.collapsed {
  height: auto;
}

.pane-search-form {
  position: relative;

  #search-block-form {
    .form-actions {

      > a {
        @include media($mobile) {
          float: right;
          right: 0;
          display: block;
          background: $white;
          position: absolute;
          padding-left: 20px;
          margin: 0;
          width: 100%;
          height: 54px;
          border-radius: 5px;
          line-height: 54px;
        }
      }

      & a:nth-child(2) {
        @include media($mobile) {
          top: 125px;
        }
      }

      & a:only-of-type {
        position: absolute;
        right: 100px;
        line-height: 60px;
        height: 60px;

        // Tablet mode
        @include media($tablet) {
          background-color: transparent;
          color: $grey-dark;
          text-decoration: underline;
        }

        // Media mobile
        @include media($mobile) {
          top: 60px;
          float: right;
          right: 0;
          display: block;
          background: $white;
          position: absolute;
          padding-left: 20px;
          margin: 0;
          width: 100%;
          height: 54px;
          border-radius: 5px;
          line-height: 60px;

          .element-invisible {
            display: none;
            height: 0
          }
        }
        .fieldset-title {

          float: left;
          @include media($tablet) {
            right: 40px;
          }
          @include media($mobile) {
            display: none;
          }
        }
      }
    }

      .form-actions.form-wrapper {
        @include media($mobile) {
          width: 100%;

          input.form-submit {
            width: 70px;
            position: absolute;
            right: 0;
          }
        }
      }

    #ting-search-terms-fieldset {
      float: left;
      border: none;
      position: relative;
      top: 0;
      padding: 0;

      @include media($tablet) {
        margin-top: 60px;
        width: 100%;
        height: 355px;
        overflow-y: visible;
      }

      @include media($mobile) {
        margin-top: 60px;
        width: 100%;
        height: 255px;
        overflow-y: visible;

        .fieldset-wrapper {
          width: 100%;
        }
      }

      legend {
        display: none;
      }
      &.collapsed {
        display: none;
      }
      #ting-search-terms-container {
        overflow-y: scroll;
        width: 100%;
        border-style: solid;
        border-color: #e1e1e1;
        border-width: 1px;
        background: $white;

        ul {
          max-height: 500px;
          top: 0 !important;
          left: 0 !important;
          margin-bottom: 0;
          margin-right: 0;

          @include media($tablet) {
            width: 450px;
          }

          @include media($mobile) {
            @include span(3 of 3);
            width: 100% !important;
            height: 270px;
          }

          li.search-term {
            border-bottom-style: solid;
            border-bottom-color: #e1e1e1;
            border-bottom-width: 1px;
            padding-bottom: 10px;
            padding-top: 10px;
            list-style: none;

            cursor: pointer;
            padding-left: 15px;

            .search-key {
              font-weight: bold;
              margin: 0;
            }

            .search-description {
              font-style: italic;
              margin: 0;
            }
          }

          li.search-term:hover {
            background:  #ededed;
          }

          @include media($mobile) {
            overflow-y: visible;
          }
        }
      }

      .search-term-op-bar {
        min-height: 50px;
      }

      .search-term-ops {
        padding-top: 10px;
        height: 30px;
        border: solid;
        border-width: 1px;
        min-width: 100%;
        max-width: 850px;
        background: #e1e1e1;
        color: #e1e1e1;

        .search-term-op {
          display: inline;
          padding-right: 5px;
          padding-left: 10px;
          font-weight: bold;
          cursor: pointer;
          color: #4c4c4c;
        }
      }

      .search-terms-more {
        float: right;
        margin-top: -22px;
        font-style: italic;
        padding-right: 14px;

        @include media($mobile) {
          float: left;
          padding-right: 14px;
          background: #e1e1e1;
          width: 100%;
          padding-top: 10px;
          margin-top: -1px;
          padding-left: 10px;
          height: 40px;
        }

        a {
          color: #4c4c4c;
        }
      }
    }
  }
}
