@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";

.page-search {
  .pane-search-form #search-block-form {
    .form-actions {
      right: 1px;

      @include media($mobile) {
        width: 70px;
      }
    }
  }
}

.pane-search-form {
  position: relative;

  #search-block-form {
    .form-item-search-block-form {
      width: 75%;
    }

    .form-actions {
      float: left;
      position: absolute;
      min-width: 410px;
      right: 10%;

      @include media($mobile) {
        min-width: 50px;
      }

      > a {
        float: left;
        padding-right: 10px;
        min-height: 60px;
        display: inline-block;
        margin: -2px 10px 0 0;
        line-height: 60px;

        // Tablet mode
        @include media($tablet) {
          background-color: transparent;
          color: $grey-dark;
          text-decoration: underline;
        }

        // Media mobile
        @include media($mobile) {
          display: none;
          padding: 0;
          margin: 0;

          .element-invisible {
            display: none;
            height: 0
          }
        }
        .fieldset-title {
          float: left;
          @include media($tablet) {
            right: 40px;
          }
          @include media($mobile) {
            display: none;
          }
        }
      }

      input[type="submit"] {
        width: 40%;
        @include media($mobile) {
          float: right;
          width: 142px;
        }
      }
      input.extended-search-submit {
        width: 24%;
      }
    }

    #ting-search-terms-fieldset {
      width: 75%;
      float: left;
      border: none;
      position: relative;
      top: 0;
      padding: 0;

      legend {
        display: none;
      }
      &.collapsed {
        display: none;
      }
      #ting-search-terms-container {
        overflow-y: scroll;
        width: 100%;
        border-style: solid;
        border-color: #e1e1e1;
        border-width: 1px;
        background: $white;

        ul {
          max-height: 500px;
          top: 0 !important;
          left: 0 !important;
          margin-bottom: 0;
          margin-right: 0;

          @include media($tablet) {
            width: 450px;
          }

          li.search-term {
            border-bottom-style: solid;
            border-bottom-color: #e1e1e1;
            border-bottom-width: 1px;
            padding-bottom: 10px;
            padding-top: 10px;
            list-style: none;

            cursor: pointer;
            padding-left: 15px;

            .search-key {
              font-weight: bold;
              margin: 0;
            }

            .search-description {
              font-style: italic;
              margin: 0;
            }
          }

          li.search-term:hover {
            background:  #ededed;
          }

          @include media($mobile) {
            overflow-y: visible;
          }
        }
      }

      .search-term-ops {
        padding-top: 10px;
        height: 30px;
        border: solid;
        border-width: 1px;
        min-width: 100%;
        max-width: 850px;
        background: #e1e1e1;
        color: #e1e1e1;

        .search-term-op {
          display: inline;
          padding-right: 5px;
          padding-left: 10px;
          font-weight: bold;
          cursor: pointer;
          color: #4c4c4c;
        }
      }

      .search-terms-more {
        float: right;
        margin-top: -22px;
        font-style: italic;
        padding-right: 14px;

        a {
          color: #4c4c4c;
        }
      }
    }
  }
}
